.projects-container {
  max-width: 1100px;
  padding: 5rem .75rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
    width: 45%;
    border-bottom: 3px solid var(--text-color);
    margin-bottom: 3rem;
  }
}

.project-card {
  display: flex;
  gap: 1rem;
  height: 400px;
  width: 800px;

  padding: .5rem;
  background-color: var(--bg-color-secondary);
  border-radius: 1rem;

  &:nth-child(even) {
    .project-img {
      order: 2;
    }
  }
}

.project-img {
  height: 100%;
  width: 55%;
  display: grid;
  align-items: center;

  img {
    width: 80%;
    margin: 0 auto;
  }
}

.project-about {
  width: 45%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

}

.project-content {
  text-align: center;

  h3 {
    font-size: 1.5rem;
    margin-bottom: .75rem;
  }

  p {
    max-width: 85%;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin: 0 auto;
  }
}

.stacks-container {
  h4 {
    width: 80px;
    margin: 0 auto;
    font-size: 1.15rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .5rem;
    border-bottom: 3px solid var(--text-color);
  }

  .stacks-wrapper {
    display: flex;
    gap: .75rem;
    justify-content: center;

    .stacks-icon {
      svg {
        width: 45px;
        padding: .15rem;
        border-radius: .25rem;
        background-color: var(--text-color);

        path {
          fill: var(--bg-color);
        }
      }
    }
  }
}

.link-container {
  display: flex;
  justify-content: center;
  gap: .75rem;
  height: 44px;

  a {
    height: 100%;
    flex-grow: 2;
    border-radius: .75rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    padding: 0 1.25rem 0 1.5rem;
    background-color: var(--bg-color);
    transition: all .2s ease-in;
    font-size: 1.05rem;

    svg {
      width: 24px;
      rect { fill: var(--text-color); transition: fill .2s ease-in; }
      path { fill: var(--bg-color); transition: fill .2s ease-in; }
    }

    &:hover {
      background-color: var(--text-color);
      color: var(--bg-color);

      svg {
        rect { fill: var(--bg-color); }
        path { fill: var(--text-color); }
      }
    }
  }
}




/*.projects-wrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  max-height: 450px;
  margin-bottom: 3rem;

  .project-card {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    .img {
      display: block;
      width: 600px;
      height: 350px;
      background-color: var(--bg-color-secondary);
      content: '';
    }

    .projects-links {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--text-color);
        flex-grow: 2;
        border-radius: .5rem;
        transition: background-color .2s ease-in;

        svg {
          width: 25px;

          path {
            fill: var(--bg-color);
            transition: fill .2s ease-in;
          }
        }

        &:hover {
          background-color: var(--bg-color-secondary);

          svg {
            path {
              fill: var(--text-color);
            }
          }
        }
      }
    }
  }

  .project-about {
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;

    .project-content {
      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        color: var(--text-color);
        text-indent: 1.5rem;
        font-size: 1.1rem;
        text-align: justify;
        font-weight: 300;
      }
    }

    .project-stacks {
      display: flex;
      flex-flow: column nowrap;
      gap: .5rem;
      align-items: center;

      h4 {
        width: 20%;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 2px solid var(--text-color);
      }

      .stacks-wrapper {
        display: flex;
        gap: .25rem;

        .stacks-icon {
          svg {
            width: 40px;
            padding: .15rem;
            background-color: var(--text-color);

            path {
              fill: var(--bg-color);
            }
          }
        }
      }
    }
  }
}*/
