:root {
  --text-light: #f4f4f4;
  --text-dark: #141414;
  --bg-light: #cfcfcf;
  --bg-light-secondary: #b1b1b1;
  --bg-dark: #272727;
  --bg-dark-secondary: #333333;
}

@media  (prefers-color-scheme: dark) {
  body {
    --bg-color: var(--bg-dark);
    --bg-color-secondary: var(--bg-dark-secondary);
    --text-color: var(--text-light);

    // background: url('assets/svg/bg-dark.svg');
    // backdrop-filter: blur(4px);
  }
}

@media  (prefers-color-scheme: light) {
  body {
    --bg-color: var(--bg-light);
    --bg-color-secondary: var(--bg-light-secondary);
    --text-color: var(--text-dark);

    // background: url('assets/svg/bg-light.svg');
    // backdrop-filter: blur(4px);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  // outline: 1px solid red;
}

html {
  scroll-behavior: smooth;
  max-width: 100dvw;
}

body {
  background-color: var(--bg-color);
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5 {
  font-family: 'kanit', Arial;
  color: var(--text-color);
}

p {
  color: var(--text-color);
  font-family: 'ubuntu', Arial;
}

a {
  display: block;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: var(--text-color);
  font-family: 'ubuntu', Arial;
  font-weight: 500;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
  transition: background-color .2s ease-in;
  padding: .5rem .75rem;

  &:hover {
    background-color: var(--bg-color-secondary);
  }
}

li {
  list-style: none;
}
